<style>
    .carousel-inner{
        height: 100vh;
    }
    .carousel-caption{
        bottom: 0;
        top: 25%;
    }
    .carousel-caption h1{
        font-size: 48px; 
    }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="image/artic-sky3.jpg" alt="Image">
        <div class="carousel-caption">
          <h1>Home to everyone's best photos</h1> 
          <h3>Showcase your work, license amazing photos, and stay inspired.</h3>
        </div>      
      </div>
    </div>
</div>
  
<div class="container text-center">    
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Current Project</p>
    </div>
    <div class="col-sm-4"> 
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Some text..</p>
      </div>
      <div class="well">
       <p>Some text..</p>
      </div>
    </div>
  </div>
</div><br>
